body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #333;
    font-weight: 400;
}

.card {
    position: relative;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.18);
    background-color: #fff;
    padding: 16px;
    margin: 0 0 24px;
}

.card-playlist {
    min-height: 350px;
}

.card .actions-panel {
    position: absolute;
    top: 19px;
    right: -32px;
    background-color: rgba(0,0,0,.3);
    border-radius: 0 5px 5px 0;
}

.playable {
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-bottom: -5px;
}

.itemImg {
    margin: 0 auto;
    background-color: #bbb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.itemImg-md {
    width: 96px;
    height: 96px;
}