.search-form{
  justify-content: center;
  align-items: center;
}

.search-parent-wrapper{
  text-align: center;
}

.search-wrapper{
  background-color: #86b3d1;
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.search-field{
  text-align: center;
  font-size: 4em;
}