.search-form{
  justify-content: center;
  align-items: center;
}

.search-parent-wrapper{
  text-align: center;
}

.post-parent-wrapper{
  position: absolute;
  text-align: left;
  padding: 1em;
  border: solid black;
  width: 70%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.search-wrapper{
  background-color: #86b3d1;
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.search-field{
  text-align: center;
  font-size: 4em;
}

.search-button {
color: white !important;
text-transform: uppercase;
font-size: 0.5em;
text-decoration: none;
background: #4d6d9a;
margin-top: 1em;
  padding: 10px 20px;
  border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.search-button:hover {
color: white !important;
background: #edb5bf;
border-color: #edb5bf !important;
transition: all 0.4s ease 0s;
cursor: pointer;
}

.post-button {
color: white !important;
text-transform: uppercase;
font-size: 2em;
text-decoration: none;
background: #4d6d9a;
margin-top: 1em;
  padding: 10px 20px;
  border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.post-button:hover {
color: white !important;
background: #edb5bf;
border-color: #edb5bf !important;
transition: all 0.4s ease 0s;
cursor: pointer;
}

.logout-button{
  position: absolute;
  right: 1%;
  top: 1%;
  text-transform: uppercase;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  color: white;
  text-decoration: none;
}

.logout-button:hover{
  color: white !important;
  cursor: pointer;
}

.home-button{
  position: absolute;
  left: 1%;
  top: 1%;
  text-transform: uppercase;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  color: white;
  text-decoration: none;
}

.home-button:hover{
  color: white !important;
  cursor: pointer;
}