<!DOCTYPE html>
<html>
<head>
<style>
table {
  border: 1px solid #2e9cca;
    border-collapse: collapse;

  width: 100%;

}

th, td {
    border: 1px solid black;
        border-collapse: collapse;
    text-align: left;
    padding: 2em;
}

</style>
    <title>Collections</title>
<link rel="stylesheet" href="{{ url_for('static', filename='collection_display.css') }}">
</head>
<body style="background-color: #86b3d1">
<a href="{{ url_for('logout') }}" class="logout-button">Log Out</a>
<a href="{{ url_for('home') }}" class="home-button">Home</a>
{% if error %}
    <div style="text-align: center; margin-top: 15em;">
        <div class="no-existing-collection">
            There aren't any collections that contain this song.
        </div>
            <a href="{{ url_for('search_location') }}"><button class="login_button" >Start a collection</button></a>
    </div>
{% else %}
    <div class="title">
        <div class="inner-width">
            <div class="name">Collections with this song</div>
        </div>
    </div>
    {{ final_list }}
    <table>

{#      {% for place in final_list %}#}
{#        <tr>#}
{#          <td>#}
{#          <a class="article-title" href="{{ url_for('location', address=place.address, place_id=place.id) }}"#}
{#                style="font-family: 'Roboto', sans-serif; color: black; font-size:2em;">{{ place.name }}</a>#}
{#          </td>#}
{#        </tr>#}
{#      {% endfor %}#}

    </table>
{% endif %}
</body>
</html>



