{% extends 'layout.html' %}
{% block content %}
    {% if login_authorized %}
        <div>
        <h2>User: {{ display_name }}</h2>
        <h2>ID: {{ id }}</h2>
        <h2>Email: {{ email }}</h2>
        <h2>Images:</h2>
        {% if images %}
            {% for image in images %}
                <img src={{ image['url'] }} alt="Profile Pic">
            {% endfor %}
        {% endif %}
    </div>
        <div class="container">
            <h2>access token: {{ access_token }}</h2>
            <h2>token type: {{ token_type }}</h2>
            <h2>refresh token: {{ refresh_token }}</h2>
        </div>
    {% else %}
        <h1>hello, please login with spotify</h1>
    {% endif %}
{% endblock content %}