<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Link the main.css file to layout.html with url_for -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      <title>Ripple</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  {% if not login_authorized %}
      <body class="hero-image hero-text">
          <h1 style="font-size: 10em; font-family: 'Roboto', sans-serif;">Ripple</h1>
          <p style="font-size: 1em; font-family: 'Open Sans', sans-serif;"><i>In music the passions enjoy themselves. </i> - Friedrich Nietzsche</p>
          <div class="button_cont" align="center">
              <a class="login_button" href="{{ url_for('authorize') }}">Log in with Spotify</a>
          </div>
      </body>
  {% else %}
      <body style="background-color: #c5ffff">
        <div class="main-search hero-image">
            <a href="{{ url_for('logout') }}" class="logout-button">Log Out</a>
            <div class="welcome-text">
                <div class="title">Welcome to Ripple.</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam commodi doloremque esse itaque iusto, labore laborum maxime odio, quidem quos, repellat rerum? Ab, asperiores aspernatur assumenda atque distinctio dolor dolore eveniet facilis, id illo ipsa ipsam minus nemo nobis porro quam quia quibusdam quis ratione rerum soluta suscipit temporibus vel vitae voluptate. Accusamus dignissimos ea esse expedita itaque mollitia nobis, numquam odio, quaerat qui vel voluptatibus?</div>
                <a href="{{ url_for('search_location') }}"><button class="search_button" >Search for a location</button></a>
                <button class="search_button">Search for a song</button>
            </div>
        </div>
        <div class="main-left">
            <div class="collections-title">Collections Near You</div>
        </div>
        <div class="main-right">
            <div class="collections-title">Your Personal Collections</div>
        </div>

    </body>
  {% endif %}
</html>