{% extends 'layout.html' %}
{% block content %}
<a href={{ url_for('search_music', place_id=place_id, address=address) }}>Add Song</a>
{% if in_db %}
    <h1>Viewing the Collection for <h2>{{ place_name }}</h2> at <h3>{{ address }}</h3> </h1>
    {% for song, posts in posts_dict.items() %}
        <div>
            <audio id="{{ song.song_uri[14:] }}" src="{{ song.song_preview }}">
            </audio>
            <button onclick="play('{{ song.song_uri[14:] }}')" type="button">Play Song</button>
            <button onclick="pause('{{ song.song_uri[14:] }}')" type="button">Pause Song</button>
            <img src="{{ song.album_picture }}" alt="Album Picture">
        </div>
        {{ song.song_title }}
        {{ song.artist }}

        {% for post in posts %}
            {{ post.author_name }}
            {{ post.post_content }}
        {% endfor %}
    {% endfor %}
    <script>
        function play(id) {
            var audio = document.getElementById(id);
            audio.play();
        }
        function pause(id) {
            var audio = document.getElementById(id);
            audio.pause();
        }
    </script>
{% else %}
{% endif %}
{% endblock content %}