<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Link the main.css file to layout.html with url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='collection_display.css') }}">
    <link rel="shortcut icon" href="#" />
      <title>{{ place_name }}</title>
  </head>
  <body>
    {% if in_db %}
        <div class="main">
            <div class="title">
                <div class="inner-width">
                    <div class="viewing">Viewing the Collection for</div>
                    <div class="name">{{ place_name }}</div>
                    <div class="address">at {{ address }}</div>
                </div>
            </div>
             <div class="gallery">
                {% for song, posts in posts_dict.items() %}
                    {% for post in posts %}
                    <!-- The Modal -->
                    <div id="{{ post.post_id }}" class="modal-main">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close" onclick="stop('{{ song.song_uri[14:] }}'); closemodal('{{ post.post_id }}')">&times;</span>
                        <img style="display:block; margin: 0 auto 1em; cursor: pointer" src="{{ song.album_picture }}" alt="" onclick="playorpause('{{ song.song_uri[14:] }}')" onmouseover="start('{{ song.song_uri[14:] }}')">
                        <div class="post-title">
                            "{{ post.post_title }}"
                        </div>
                        <div class="post-text">
                            {{ post.post_content }}
                        </div>
                        <div style="margin-top: 1.5em; margin-bottom: 1em;">
                          Submitted by {{ post.author_name }}
                        <div class="button_cont">
                            <a class="spotify_button" href="{{ 'https://open.spotify.com/track/' + post.song_id[14:] }}" target="_blank">Listen to the full track on Spotify</a>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="album">
                        <audio id="{{ song.song_uri[14:] }}" src="{{ song.song_preview }}"></audio>
                        <img src="{{ song.album_picture }}" class="image" alt="" onmouseover="start('{{ song.song_uri[14:] }}')" onmouseout="stop('{{ song.song_uri[14:] }}')"
                         onclick= "displaymodal('{{ post.post_id }}');">
                    </div>
                {% endfor %}
                {% endfor %}
                <div class="album">
                    <a href="{{ url_for('search_music', place_id=place_id, address=address) }}"><button class="add-button" >Add a song</button></a>
                </div>
            </div>
        </div>
        <script>
            function start(id) {
                const audio = document.getElementById(id);
                audio.play();
            }
            function stop(id) {
                const audio = document.getElementById(id);
                audio.pause();
                audio.currentTime=0;
            }
            function reset(id){
                const audio = document.getElementById(id);
                audio.currentTime=0;
            }
            function playorpause(id) {
                const audio = document.getElementById(id);
                if (audio.duration > 0 && !audio.paused) {
                    audio.pause();
                } else {
                    audio.play();
                }
            }
            function displaymodal(modal_id) {
                const modal = document.getElementById(modal_id);
                modal.style.display = "block";
            }
            function closemodal(modal_id) {
                const modal = document.getElementById(modal_id);
                modal.style.display = "none";
            }
        </script>
    {% else %}
        <div style="text-align: center; margin-top: 15em;">
            <div class="no-existing-collection">
                It looks like there aren't any collections for this location yet.
            </div>
                <a href="{{ url_for('search_music', place_id=place_id, address=address) }}"><button class="login_button" >Start a collection</button></a>
        </div>
    {% endif %}

  </body>


