<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Link the main.css file to layout.html with url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='collection_display.css') }}">
    <link rel="shortcut icon" href="#" />
      <title>{{ place_name }}</title>
  </head>
  <body>
    {% if in_db %}
        <div class="main">
            <div class="title">
                <div class="inner-width">
                    <div class="viewing">Viewing the Collection for</div>
                    <div class="name">{{ place_name }}</div>
                    <div class="address">at {{ address }}</div>
                </div>
            </div>
             <div class="gallery">
                {% for song, posts in posts_dict.items() %}
                    {% for post in posts %}
                    <!-- The Modal -->
                    <div id="{{ post.post_id }}" class="modal-main">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close" onclick="closemodal('{{ post.post_id }}')">&times;</span>
                        <img style="display:block; margin:auto;" src="{{ song.album_picture }}" alt="">
                        <div class="post-text">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quo illum facere. Nam delectus tempora natus placeat debitis reiciendis, nihil facere quos recusandae quo odio perferendis? Officia vero vel aliquid.
                        </div>
                        <div>
                          Submitted By me
                        </div>
                        <div>
                          <button>
                            Listen to the full song on Spotify
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="album">
                        <audio id="{{ song.song_uri[14:] }}" src="{{ song.song_preview }}"></audio>
                        <img src="{{ song.album_picture }}" class="image" alt="" onmouseover="start('{{ song.song_uri[14:] }}')" onmouseout="stop('{{ song.song_uri[14:] }}')"
                         onclick="displaymodal('{{ post.post_id }}')">
                    </div>
                {% endfor %}
                {% endfor %}
                <div class="album">
                    <a href="{{ url_for('search_music', place_id=place_id, address=address) }}"><button class="add-button" >Add a song</button></a>
                </div>
            </div>
        </div>
        <script>
            function start(id) {
                const audio = document.getElementById(id);
                audio.play();
            }
            function stop(id) {
                const audio = document.getElementById(id);
                audio.pause();
                audio.currentTime=0;
            }
            function playorpause(id) {
                const audio = document.getElementById(id);
                if (audio.duration > 0 && !audio.paused) {
                    audio.pause();
                } else {
                    audio.play();
                }
            }
            function displaymodal(modal_id) {
                const modal = document.getElementById(modal_id);
                modal.style.display = "block";
            }
            function closemodal(modal_id) {
                const modal = document.getElementById(modal_id);
                modal.style.display = "none";
            }
        </script>
    {% else %}
        <a href={{ url_for('search_music', place_id=place_id, address=address) }}>Add Song</a>
    {% endif %}

  </body>


