{% extends 'layout.html' %}
{% block content %}
<div style="background-color: #86b3d1">
    <div class="content">
        <form method="POST" action="" class="search-field">
            {{ form.hidden_tag() }}
                <div style="font-size: 1em;">Search for a location</div>
                <div class="search_form">
                    {{ form.search(class="search-form") }}
                </div>
                <div class="submit">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
        </form>
    </div>
</div>

{% endblock content %}