<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Link the main.css file to layout.html with url_for -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
    <link rel="shortcut icon" href="#" />
      <title>Search</title>
  </head>
  <body>
    <div class="search-parent-wrapper">
        <div class="search-wrapper">
            <form method="POST" action="" class="search-field">
                {{ form.hidden_tag() }}
                    <div style="font-size: 0.5em; font-weight: bold; margin-bottom: 2em; margin-top: 2em;">SEARCH FOR A {{ searchtype }}</div>
                    <div class="search_form">
                        {{ form.search(class="search-form") }}
                    </div>
                    <div class="submit">
                        {{ form.submit(class="search-button") }}
                    </div>
            </form>
        </div>
    </div>
  </body>

